body{
    background-color: #141414;
    z-index: -1;
}
ul{
    margin: 0;
}
a{
    margin: 0;
}
h1{
    margin: 0;
}
h2{
    margin: 0;
}
h3{
    margin: 0;
}
p{
    margin: 0;
}

@font-face {
    font-family: 'Reforma Grotesk';
    src: url('ReformaGroteskBold.eot');
    src: local('Reforma Grotesk Bold'), local('ReformaGroteskBold'),
        url('ReformaGroteskBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ReformaGroteskBold.woff2') format('woff2'),
        url('ReformaGroteskBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Reforma Grotesk Demi';
    src: url('ReformaGroteskDemi.eot');
    src: local('Reforma Grotesk Demi'), local('ReformaGroteskDemi'),
        url('ReformaGroteskDemi.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ReformaGroteskDemi.woff2') format('woff2'),
        url('ReformaGroteskDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Reforma Grotesk';
    src: url('ReformaGroteskMedium.eot');
    src: local('Reforma Grotesk Medium'), local('ReformaGroteskMedium'),
        url('ReformaGroteskMedium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ReformaGroteskMedium.woff2') format('woff2'),
        url('ReformaGroteskMedium.woff') format('woff'),
        url('ReformaGroteskMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Reforma Grotesk';
    src: url('ReformaGroteskLight.eot');
    src: local('Reforma Grotesk Light'), local('ReformaGroteskLight'),
        url('ReformaGroteskLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ReformaGroteskLight.woff2') format('woff2'),
        url('ReformaGroteskLight.woff') format('woff'),
        url('ReformaGroteskLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.head{
    max-width: 1505px;
    margin: 0 auto;
    margin-bottom: 168px;
}
.header-menu{

}
.background{
    z-index: -1;
    position: absolute;
    max-width: 100%;
}
.header-list{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    padding-top:40px ;
    padding-left: 212px;
}
.header-items{

}
.items-links{
    font-family: 'Reforma Grotesk';
    text-decoration: none;
    margin-right: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.03em;
    color:#FFF;
    flex: none;;
}
.items-links:hover{
    color: greenyellow;
    transition: 0.6s;
}
.section1{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 180px;
}
.section1-h1{
    text-align: center;
    max-width: 150%;
    margin-bottom: 5px;
    font-family: 'Reforma Grotesk ';
    font-style: normal;
    font-weight: 700;
    font-size: 10em;
    line-height: 125%;
    color: #DB3138;
}
.section1-svg{
    display: flex;
    justify-content: center;
}
.sec1-svg:not(:last-child){
    margin-right: 29.93px;
    margin-bottom: 40.93px;
}
.section1-h2{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Reforma Grotesk ';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */

    text-align: center;

    /* white */

    color: #FFFFFF;
}
.bth{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 115px;
    font-family: 'Reforma Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    /* identical to box height, or 34px */

    text-align: center;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    background-color: #DB3138;
    /* white */

    color: #FFFFFF;
}
.section1-contacts{
    display: flex;
}
.contacts-list{
    max-width: 33%;
    min-width: 33%;
    border: 1px solid grey;
}
.contacts-h3{
    padding: 50px 0 20px 0;
    margin: 0 auto;
    font-family: 'Reforma Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    /* or 25px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
}
.contacts-text{
    padding-bottom: 51px;
    max-width: 50%;
    margin: 0 auto;
    font-family: 'Reforma Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 25px;
    /* or 34px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* accent */

    color: #DB3138;

}
.contacts-tel{
    display: flex;
    flex-direction: column;
}
.tel{
    padding-bottom: 20px;
}
.section2-firstpart{
    display: flex;
    max-width: 50%;
    flex-direction: column;
    padding-left: 50px;
    margin-right: 24px;
}
.section2{
    display: flex;
    margin-bottom: 180px;
}
.section2-svg{
    display: flex;
}
.section2-h2{
    margin-bottom: 40px;
    font-family: 'Reforma Grotesk';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 140%;
    /* or 73px */

    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
}
.section2-text{
    max-width: 100%;
    font-family: 'ReformaGroteskMediumC';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    /* or 29px */

    letter-spacing: 0.03em;

    /* white */

    color: #FFFFFF;
}
.section2-blocks{


}
.section2-parttwo{
    display: flex;
    margin-right: 100px;
    max-width: 50%;
}
.section2-blocks{
    border: 1px solid #898989;
}
.block-margin{
    padding-top: 20px;
}
.blocks-h3{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-family: 'ReformaGroteskDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 140%;
    padding-top: 10px;

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* accent */

    color: #DB3138;
}
.blocks-text{
    max-width: 90%;
    padding: 0 20px 34px 20px;
    font-family: 'ReformaGroteskDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
}
.blocks-svg{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top: 10px;
}
.section3{
    display: flex;  
    justify-content: space-around; 
    margin-bottom: 194px;
}
.section3-items{
    display: flex;
    flex-direction: column;
    max-width: 33%;
}
.section3-img{
    margin-bottom: 20px;
}
.section3-text{
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'ReformaGroteskDemiC';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    background-color: #DB3138;
    padding:0 10px ;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    /* white */

    color: #FFFFFF;
}
.section4{
    display: flex;
    padding-left: 30px;
}
.section4-first{
    display: flex;
    flex-direction: column;
}
.section4-materials{
    display: flex;
}
.section4-svg{
    display: flex;
}
.section4-materials{
    display: flex;
    align-items: center;
    margin-bottom: 43px;
    font-family: 'ReformaGroteskDemiC';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 140%;
/* or 45px */

letter-spacing: 0.05em;
text-transform: uppercase;

/* white */

color: #FFFFFF;
}
.section4-svg{
    margin-right: 10px;
    justify-content: space-around;
}
.section4-text{
    margin-bottom: 40px;
}
.section4-first{
    max-width: 50%;
}
